__pycache__/
.venv/
.git/
.mypy_cache/
.pytest_cache/
build/
dist/
ExpenseTracker-Portable/
error/
archived_data/
*.log
*.pyc
*.pyo
*.pyd
*.spec
tracker.db
expenses.db
build.log
*.zip
pip-wheel-metadata/
